<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.azure.communication.ui.calling.communicationcallingxamarinsampleapp">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="CommunicationCallingXamarinSampleApp.Android" android:supportsRtl="false" android:theme="@style/MainTheme" tools:replace="android:label"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>